body {
  background-color: #0029de;
}
h1 {
  font-family: helvetica;
  color: #5B4343;
}
h1.title {
  font-family: 'Karla', sans-serif;
  font-size: 60px;
  color: #ecfcff;
  background-color: #3f99f2;
  padding-left: 10px; padding-right: 10px;
}
.yellowText {
  color: #ffcc00;
}
div {
  background-color: #3f99f2;
}
